<a href="https://colab.research.google.com/github/JulioCezar1111/Projeto15/blob/main/Introdu%C3%A7%C3%A3o_ao_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importando o pandas**

In [31]:
import pandas as pd # as pd para abreviar

# **Criando um dataframe a partir de um dicionario**



*   dataframe; uma tabela dentro do python

In [ ]:
# dataframe = pd.DataFrame() é uma tabela vazia

venda = {'data': ['15/02/2021', '16/02/2021'], 
         'valor': [500, 300],
         'produto': ['feijão', 'arroz',],
         'qtde': [50, 70],
         }
vendas_df = pd.DataFrame(venda) # Esse metodo cria uma tabela

# **Visualização dos Dados**



*   -Print
*   -Display

In [ ]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijão    50
1  16/02/2021    300   arroz    70

# **Importando arquivos e bases de dados**

In [3]:
vendas_df = pd.read_excel('/content/drive/MyDrive/Vendas.xlsx') # Recebe o arquivo excel
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

# **Resumos de visualização de dados simples e úteis**


*   head
*   shape
*   describe

In [8]:
display(vendas_df.head()) # mostra quantas linha você quer
print(vendas_df.shape) # informa quantas linhas e colunas tem sua tabela
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

# **Pegar 1 coluna (e os pd.Series)**


*   Series é uma coluna do DataFrame

In [4]:
produtos =  vendas_df['Produto'] # passar entre colchete para ter somente uma coluna
display(produtos) # Series é uma coluna do DataFrame

0           Sapato Estampa
1                 Camiseta
2            Sapato Xadrez
3                  Relógio
4             Chinelo Liso
               ...
93905       Mochila Xadrez
93906    Pulseira Listrado
93907       Cueca Listrado
93908       Pulseira Linho
93909        Casaco Xadrez
Name: Produto, Length: 93910, dtype: object

# **.loc, um método muito importante**

*   Pegar 1 linha
*   Pegar linhas de acordo com uma condição
*   Pegar linhas e colunas específicas 
*   pegar 1 valor específico

In [14]:
# pegar uma linha especifiva
''' display(vendas_df.loc[1:5]) # Lder a partir dos indices '''

# pegar linhas que correspodem a uma condição
'''vendas_norteshopping_df = vendas_df['ID Loja'] == 'Norte Shopping'
display(vendas_df.loc[vendas_norteshopping_df])'''

# pegar varias linhas e colunas usando o loc
#.loc[linhas, colunas]
'''vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]
display(vendas_norteshopping_df)'''

# pegar 1 valor especifico
'''print(vendas_df.loc[1, 'Produto'])'''

Camiseta

# **Adicionar 1 coluna**

In [ ]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.1
display(vendas_df)

# criar uma coluna com valor padrão
''' : significa todos os valores '''
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

# **Adicionar 1 linha**

*   Linhas de um complemento da base de dados

In [ ]:
vendas_dez_df = pd.read_excel('/content/drive/MyDrive/Vendas - Dez.xlsx')
# display(vendas_dez_df)

vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

# **Excluir linhas e colunas**

In [27]:
vendas_df = vendas_df.drop(0, axis=0) # axis zero para linha e Um para coluna 
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,36.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,36.8
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,60.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,7.1
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,24.8
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

Warning: total number of rows (108085) exceeds max_rows (20000). Limiting to first (20000) rows.

# **Valores Vazios**

*   Deletar linhas/colunas vazias
*   Deletar linhas que possuem valores vazios
*   Preencher valores vazios (média e último valor)

In [29]:
# deletar linhas e colunas completamente vazia
vendas_df = vendas_df.dropna(how = 'all') # para excluir coluna (how = 'all', axis = 1)

# deletar linhas que possuem pelo menos 1 valor vazio
vendas_df = vendas_df.dropna()

# preencher valores vazios
'''preencher com a media'''
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean()) # vai preencher os valores com a média da coluna
display(vendas_df)

# preencher com o ultimo valor
vendas_df = vendas_df.ffill()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,36.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,36.800000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,60.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,7.100000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,24.800000
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,41.486326
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,41.486326
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,41.486326
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,41.486326
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,41.486326

# **Calcular Indicadores**

*   Groupby
*   Value Counts

In [42]:
#  Value Counts
transacoe_loja = vendas_df['ID Loja'].value_counts()
#display(transacoe_loja)

# group by
faturamento_produtos = vendas_df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
display(faturamento_produtos)

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1851960
Center Shopping Uberlândia            1793881
Iguatemi Campinas                     1912378
Iguatemi Esplanada                    1802665
Norte Shopping                        1813459
Novo Shopping Ribeirão Preto          1777928
Palladium Shopping Curitiba           1841741
Parque Dom Pedro Shopping             1753685
Passei das Águas Shopping             1761103
Ribeirão Shopping                     1820058
Rio Mar Recife                        1862635
Rio Mar Shopping Fortaleza            1826320
Salvador Shopping                     1775895
Shopping Barra                        1756251
Shopping Center Interlagos            1744307
Shopping Center Leste Aricanduva      1769026
Shopping Eldorado                     1772450
Shopping Ibirapuera                   1742967
Shopping Iguatemi Fortaleza           1799006
Shopping Midway Mall                  1695710
Shopping Morumbi                      1703240
Shopping Recife                       1756750
Shopping SP Market                    1832596
Shopping União de Osasco              1779802
Shopping Vila Velha                   1847063

# **Mesclar 2 dataframe (procurar informações de um dataframe em outro)**

In [40]:
gerente_df = pd.read_excel('/content/drive/MyDrive/Gerentes.xlsx')
#display(gerente_df)
vendas_df = vendas_df.merge(gerente_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,36.000000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,36.800000,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,23.200000,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,36.300000,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,23.600000,Salvador
...,...,...,...,...,...,...,...,...,...
108080,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,41.486326,Mateus
108081,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,41.486326,Mateus
108082,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,41.486326,Mateus
108083,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,41.486326,Mateus
108084,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,41.486326,Mateus